@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("assets/barbie-swan-lake.jpg"), #f542ad;
  background-size: cover;
  transition: 2s all !important;
  font-family: 'Smooch Sans', sans-serif;
}

.init {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}
